 <!-- navbar -->
 <nav class="navbar navbar-expand-lg mb-3 pb-2 pt-2">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand m" href="{% url 'core:home'%}">
        MEGA-DALLA
      </a>
    </div>

    <div class="ms-md-5" >
      <form class="d-flex" action="">
        <input  name="q" class="form-control me-2" type="search" placeholder="Search products" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <button class="navbar-toggler" type="button"
           data-bs-toggle="collapse" data-bs-target="#menu">
          <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <div class="dropdown">
          <a class=" nav-link dropdown-toggle h4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {%if user.is_authenticated %}

              <li><a class="dropdown-item" href="/logout">logout</a></li>
            {% else %}
            <li>
              <a class="dropdown-item" href="/login">login</a></li>
            {% endif %}
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>