<nav class="navbar navbar-expand-lg navbar-light" style="background:#023E8A; color:#FFCC33;">
  <a class="navbar-brand" href="/" style=" color: #FFCC33;">MEGA-DALLA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"  style=" color: #FFCC33;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" style=" color: #FFCC33;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register"  style=" color: #FFCC33;">Register</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" color: #FFCC33;">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" style=" color: #FFCC33;">Products</a>
          <a class="dropdown-item" href="/order-summery/" style=" color: #FFCC33;">Cart</a>
          <a class="dropdown-item" href="#" style=" color: #FFCC33;">Vender</a>
        </div>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
            {% comment %} <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span> {% endcomment %}
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-30" href="/logout" style=" color: #FFCC33;" >Logout</a>
      </li>
    </ul>
  </div>


</nav>