{% extends 'base.html' %}

{% block content %}

    <h2> title: {{object.title}}</h2>
    <div style="height: 50vh;">
        <img src="{{object.image.url}}" alt="{{object.title}}" style="height:100%;">
    </div>
    <div>
        <a href="{{ object.get_add_to_cart_url}}" class="btn btn-primary btn-md my-0 p">
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
        </a>
        <a href="{{ object.get_remove_from_cart_url}}" class="btn btn-danger btn-md my-0 p">
            Remove from cart
        </a>
    </div>

{% endblock %}