
{% extends 'base.html' %} {% block content%}
<div class="info">
  <h1  style="text-align: center; margin-right: 50px; , cursive; margin-top: 20px; color: #1D3354;"> <b><i>MEGA DALLAS </i></b>
    </h1>
  </div>
    <h2 style="text-align: center; margin-right: 50px;, cursive; margin-top: 20px; color: #1D3354;"></h2>
    
    <div  class="container">
      <div class="row" style="margin-left:100px">
        <div class="col" style="background:#efe9ae; border-radius: 85px;">
          <div class="md-hero-text">
            <h4 style="padding:5px; margin-left:55px;"><b>Megga dalla <i class="bi bi-emoji-smile-fill" style="font-size: 30px;"></i></b><b style="color:#023E8A;"> Got You Covered</b></h4>
            <h5 style="margin-left:95px; padding:5px;">Your Shopping Will Be Waiting On You</h5>
            <h5 style="margin-left:125px; padding:5px;">All Items Are Available</h5>
            <h5 style="margin-left:150px; padding:5px;">No More Over Crowding</h5>
            <h5 style="margin-left:190px; padding:5px;">No More Queing</h5>
            <h5 style="margin-left:150px; padding:5px;"></h5>
          </div>
        </div>
      
      <div class="col">
        <img src="https://res.cloudinary.com/dhmbjiskt/image/upload/v1656777328/app-online-store_ocyy96.gif" alt="" style="width: 300px; height: 300px; border-radius: 10px;">
      </div>
      </div>
      </div>
      </div>
    </div>      
  
    
  </div>
  <div class="md-about"style="padding: 60px;">
      <div class="row" style="background:#dee2e6;  border-radius: 25px;box: shaddow 5px;">
        <div class="col-sm">
          <h4><b><u>ABOUT Us</u></b></h4><i>
          <p>This application is made in Kenya.We as the dreamteam decided to come up with this application due to the long queing and the outbreake of corona.</p>
        <p>No more queing and to ensure less contact of large group of people to reduce the spread of corona</p></i>
        </div>
         <div class="col-sm">
          <h4><b><u>SERVICE</u></b></h4><i>
          <p>Our application the Megga-Dalla offers services to our customers at the comfort of their own home no more queing in lines.</p>
          <p>Users are able to select the items they want,make an order and pay for it. Once they are done they come to pick it up when it's already packed.</p></i>
        </div>
        <div class="col-sm">
          <h4><b><u>CONTACT</u></b></h4><i>
          <p>For more informatoin you </p></i>
          <i class="bi bi-telephone-fill">   0789653423</i>
          <p>
          <i class="bi bi-envelope-fill">   thedreamteam@gmail.com</i></p>
          <p><i class="bi bi-twitter">   thedreamteam</i></p>
        </div>
      </div>
    </div>
  {%endblock%} 
