
{% extends 'base.html' %} {% block content%}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          
          <h2 cursive; margin-top: 5px; margin-left: 5px; color: #1D3354;"aria-current="page">MEGA DALLA</h2>
        </li>
        
      </ul>
      <div style="display: flex;">
        
        <a style="margin-right: 30px; " href="/register"><button  style=" color: #FFCC33;" class="btn btn btn-lg" role="button">SIGN UP </button></a>
      </div>
      <div style="display: flex;">
        
        <a style="margin-right: 50px; " href="/login"><button  style=" color: #FFCC33;" class="btn btn btn-lg" role="button">LOGIN </button></a>
      </div>
    </div>
  </div>
</nav>

<div  class="container">
  
  <div class="info">
    
    <h1  style="text-align: center; margin-right: 50px; cursive; margin-top: 20px; color: #1D3354;"> MEGA DALLAS YOUR PLACE FOR EVERYTHING
    </h1>
    <h2 style="text-align: center; margin-right: 50px; cursive; margin-top: 20px; color: #1D3354;"></h2>
    
    <div  class="container">
      <div class="bg">
      <div style="text-align: center;" class="center">
        <img src="https://res.cloudinary.com/dhmbjiskt/image/upload/v1656777328/app-online-store_ocyy96.gif" alt="" style="width: 500px; height: 500px; border-radius: 10px;">
      </div>
     
    </div>      
    </div>
    
  </div>
  {%endblock%} 
