asgiref==3.4.1
beautifulsoup4==4.11.1
certifi==2022.6.15
cloudinary==1.29.0
confusable-homoglyphs==3.2.0
dataclasses==0.8
Django==3.2.13
django-bootstrap==0.2.4
django-bootstrap-v5==1.0.11
django-cors-headers==3.10.1
django-countries==7.3.2
django-crispy-forms==1.13.0
django-phonenumber-field==6.0.0
django-registration==3.2
django-registration2==0.9.4
django-restframework==0.0.1
djangorestframework==3.13.1
phonenumbers==8.12.51
psycopg2==2.9.3
pytz==2022.1
six==1.16.0
soupsieve==2.3.2.post1
certifi==2022.6.15
cloudinary==1.29.0
Django==3.2.13
django-restframework==0.0.1
djangorestframework==3.13.1
psycopg2==2.9.3
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
