*{
    font-family: 'Poppins', sans-serif;

}
/* start styling navbar */
 nav {
    background-color: #023E8A;
    color: #FFCC33;
 }

 .navbar{
    background: #0449a2;
    height: 7vh;
}

.navbar-brand{
    color: #FFCC33;
}

nav {
    padding-left: 1rem;
    padding-right: 1rem;
}

.user-icon {
    font-size: 1.2em;
}
 /* end of styling navbar */


/* start styling welcome page */
.bg{
    background-color: white;
}
/* end of styling welcome */


/* start styling login page */
.panel-body{
    background-color: #023E8A;
    color: #FFCC33;
    width: 350px;;
    height: 50vh;
    margin-top: 45px;
    border-radius: 10px;
}
.login{
    border-color:#FFCC33 ;
    margin-left:  105px;
    border-radius: 10px;
    color: black;
    width: 100px;
    height: 5vh;
 }
/* end stylinf the login */

