*{
    font-family: 'Poppins', sans-serif;

}
body {
  background: #edf6f9;
}
/* start styling navbar */
.navbar{
  min-height: 7vh;
  background: #023E8A;
  color: #FFCC33;
}
.navbar-image{
  height: 30px;
  border-radius: 50%;
  
}
#nav-link{
  color: #FFCC33;
}

.navbar-brand{
  color: #FFCC33;
}
.user-icon {
  font-size: 1.2em;
}
 /* end of styling navbar */

.badge-product {
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: rgb(255, 0, 200);
  padding: 0.2rem;
  color: #fff;
  display: inline;
  position: absolute;
}


.mg-hero-text {
  width: 40%;
  height: 30%;
  background: rgb(26, 33, 36);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.9;
}


.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-price small {
  font-size: large;
  font-weight: 1000;
  display: inline-block;
  margin-right: 5px;
}

.product-price a {
  margin-left: 0.6rem;
  color: rgb(255, 0, 200);
}

.product-links {
  text-align: center;
}

.product-links a {
  display: inline-block;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
  width: 250px;
  height: 5vh;
}

.product-links a:hover {
  color: #fbb72c;
}
.product-card {
  height: 50vh;
}

.product-img {
  height: 20vh;
  width:100%;
  border-radius:10px;
}
/* start product */
.pmain{
  display: flex;
  justify-content: center;
  align-items: center;
  height : 90vh;
}
.pleft{
  height: 50vh;
  width: 30vw;
  text-align: center;
}
.pro-image {
  height: 80%;
}
.pimage{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.adimage{
  height: 30vh;
  margin: 10px;
  border-radius: 10px;
  width: 12vw;
}
.pbtn{
  margin: 5px;
}
/* end product */