.navbar{
    background: #0449a2;
    height: 7vh;
    border-radius:10px;
}
.navbar-brand{
    color: #FFCC33;
}
#nav-link{
    color: #FFCC33;
}
.product-card {
    /* width: 30vw; */
    height: 50vh
}

.product-img {
    height: 20vh;
    width:100%;
    border-radius:10px;
}

.badge-product {

    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(255, 0, 200);
    padding: 0.2rem;
    color: #fff;
    display: inline;
    position: absolute;
  }
