<div class="container">
  <div class="info">
      <h1
        style="
          text-align: center;
          margin-right: 50px, cursive;
          margin-top: 20px;
          color: #1d3354;
        "
      >
        MEGA DALLAS YOUR PLACE FOR EVERYTHING
      </h1>
      <h2
        style="
          text-align: center;
          margin-right: 50px, cursive;
          margin-top: 20px;
          color: #1d3354;
        "
      ></h2>

    <div class="container">
      <div class="bg">
        <div style="text-align: center" class="center">
          <img
            src="https://res.cloudinary.com/dhmbjiskt/image/upload/v1656777328/app-online-store_ocyy96.gif"
            alt=""
            style="width: 500px; height: 500px; border-radius: 10px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
