{%extends "auth/base.html"%} {% load bootstrap5 %} {% load static %} {% block content %}
<div class="container-fluid main" >
  <img
    src="{%static '/images/online.jpeg'%}"
    alt="background"
    class="img-responsive reg-image"
  />
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 reg">
      <h4>Login</h4>

      <form action="" method="post">
        {% csrf_token %} {% bootstrap_form form%}

        <div>
          <button class="btn btn-warning btn-sm" type="submit">Login</button>

          <a
            href="/register"
            class="btn btn-outline-warning btn-sm"
            type="button"
          >
            Switch to Signup
          </a>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}
