<main>
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mb-4">
        <div class="card">
          <form
            class="card-body"
            [formGroup]="checkoutForm"
            (ngSubmit)="onSubmit()"
          >
            <h3>Shipping address</h3>
            <div class="hideable_shipping_form">
              <div class="form-group">
                <label for="street_address" class="">Street Address</label>
                <input
                  type="text"
                  placeholder="1234 Main St"
                  id="street_address"
                  name="street_address"
                  formControlName="street_address"
                  class="form-control"
                />
                <span
                  class="help-block"
                  style="color: red"
                  *ngIf="
                    !checkoutForm.get('street_address').valid &&
                    checkoutForm.get('street_address').touched
                  "
                  >Field is Required!</span
                >
              </div>
              <div class="form-group">
                <label for="apartment_address" class=""
                  >Apartment Address</label
                >
                <input
                  type="text"
                  placeholder="Apartment address"
                  id="apartment_address"
                  name="apartment_address"
                  class="form-control"
                  formControlName="apartment_address"
                />
                <span
                  class="help-block"
                  style="color: red"
                  *ngIf="
                    !checkoutForm.get('apartment_address').valid &&
                    checkoutForm.get('apartment_address').touched
                  "
                  >Field is Required!</span
                >
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input
                    type="select"
                    placeholder="Country"
                    class="form-control"
                    name="country"
                    formControlName="country"
                  />
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="zip">Zip</label>
                  <input
                    type="text"
                    placeholder="Zip code"
                    id="zip"
                    name="zip"
                    class="form-control"
                    formControlName="zip"
                  />
                  <span
                    class="help-block"
                    style="color: red"
                    *ngIf="
                      !checkoutForm.get('zip').valid &&
                      checkoutForm.get('zip').touched
                    "
                    >Field is Required!</span
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="apartment_address" class=""
                  >Address Type</label
                >
                <input
                  type="text"
                  placeholder="Address Type"
                  id="address_type"
                  name="address_type"
                  class="form-control"
                  formControlName="address_type"
                />
                <span
                  class="help-block"
                  style="color: red"
                  *ngIf="
                    !checkoutForm.get('address_type').valid &&
                    checkoutForm.get('address_type').touched
                  "
                  >Field is Required!</span
                >
              </div>

              <div class="form-group">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="default"
                  id="default"
                  formControlName="default"
                />
                <label class="custom-control-label" for="default"
                  >Save as default shipping address</label
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                class="custom-control-input"
                name="use_default_shipping"
                id="use_default_shipping"
              />
              <label class="custom-control-label" for="use_default_shipping"
                >Use default shipping address:
              </label>
            </div>
            <hr />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Continue to checkout
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>
