.main{
    background: #edf6f9;
    border: 1px solid rgb(10, 48, 100);
    height:93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/images/oliver.jpeg)

}
.reg{
    background: #0449a2;
    padding:20px;
    color:white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    opacity:0.9;
    

}
.form-group{
    margin: 10px;
}
.btn{
    margin: 5px;
}
.reg-image{
    height:93vh;
    width: 99%;
    position: absolute;
    filter: brightness(30%);
}