<div class="container">
  <div class="table-responsive text-nowrap">
    <h2><b>Order Summery</b></h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item title</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Item Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td>
            <a href=""><i class="fas fa-minus mr-2"></i></a
            ><a href=""><i class="fas fa-plus ml-2"></i></a>
          </td>
          <td>
            <span class="badge badge-secondary" style="color: blue"
              >Saving $</span
            >

            <a style="color: red" href=""
              ><i class="fas fa-trash float-right"></i
            ></a>
          </td>
        </tr>
        <tr>
          <td colspan="5">Your cart is empty</td>
        </tr>
        <tr>
          <td colspan="5">
            <a class="btn btn warning float-right" href="">
              Continue Shopping
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="4"><b> Order Total </b></td>
          <td>
            <b>$</b>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <a class="btn btn-warning float-right ml-2" href="/checkout/">
              Proceed to checkout</a
            >
            <a class="btn btn-warning float-right" href="/home/">
              Continue Shopping
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
