<div class="container-fluid" *ngIf="item">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Title: {{ item.title }}</h2>
        <div style="height: 50vh">
          <img
            src="{{ item.image }}"
            alt="{{ item.title }}"
            style="height: 100%"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <p>{{item.description}}</p>
        </div>
        <div>
          <button class="btn btn-primary btn-md my-0 p" (click)=addtocart(item)>
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </button>
          <a href="" class="btn btn-danger btn-md my-0 p"> Remove from cart </a>
        </div>
      </div>
    </div>
  </div>
</div>
